*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;

}


.showcases {
    height: 800px;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 64px 90px;


}
.showcase h3{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}
.showcases > p{
    color: #3C3C43;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: -22px;

}


