@media screen  and (min-width: 769px) and (max-width: 1250px){
.features{
    display: flex;
    width: 720px;
    gap: 24px;
    flex-wrap: wrap;
    padding: 48px 24px;
}
.img{
    width: 348px;
    margin-bottom: 16px;
}


}
