*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1512px;
    height: 982px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.block1{
    width: 319px;
    height: 492px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
.game{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: -49px;
    left: 108px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    background:  lightgray 50% / contain no-repeat;
}

}
.block2{
    width: 319px;
    height: 492px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
.chess{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: -49px;
    left: 108px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    background:  lightgray 50% / contain no-repeat;
}

}
.block3{
    width: 319px;
    height: 492px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
.battle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: -49px;
    left: 108px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    background:  lightgray 50% / contain no-repeat;

}
}
